
<div class="searchbar">
  <form action="/homepage-faculty" method="get" name="login-faculty">
    ID: <input type="text" name="id" size=20><br>
    Password: <input type="text" name="pw" size= 20><br><br>
    <a routerLink='/homepage-faculty'>Login as faculty</a>
  </form>

</div><div class="searchbar">
  <form action="/main-page" method="get" name="login-moderator">
    ID: <input type="text" name="id" size=20><br>
    Password: <input type="text" name="pw" size= 20><br><br>
    <a routerLink='/main-page'>Login as moderator</a>
  </form>
</div>
