<head>
  <title>GGC Faculty Scheduler | Welcome to Your Home Page</title>

  </head>

  <body style="background-color:#a5acb0;">


      <h1 id = "welcome"><b><i>Welcome to Your Home Page</i></b></h1>
      <div class="buttonspace"><button (click)="navigate()">View Schedule for Upcoming Semester and Request Schedule Change</button></div>
      <div class="buttonspace"><button (click)="navigate2()">View List of Courses Offered in the Upcoming Semester</button></div>
      <div class="buttonspace"><button (click)="navigate3()">View Information for Courses Offered This Semester</button></div>


  </body>
