<style>
    #myInput {
    background-image: url("assets/searchicon.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
</style>

<body style="background-color:#a5acb0;">


  <span>
      <h1></h1>
      <h1></h1>
      <button (click)="navigate()">Return to Home Page</button>
      <h3 id = "tablename">Courses Available for Upcoming Semester (Fall 2019)</h3>
  </span>

  <input type="text" id="myInput" onkeyup="myFunction3()" placeholder="Search for course title.." title="Type in a course title">

  <div style="height:500px; overflow-y: scroll; overflow-x:scroll">
        <table id ="myTable" *ngIf='courses && courses.length'>
            <tr>
                <th>CRN</th>
                <th>DEPT</th>
                <th>Course #</th>
                <th>Title</th>
                <th>Section #</th>
                <th>Days and Time</th>
                <th>Classroom</th>
                <th>Course Instructor</th>
            </tr>
            <tr *ngFor='let course of courses'>
                <td>{{course.CRN}}</td>
                <td>ITEC</td>
                <td>{{course.CRSE}}</td>
                <td>{{course.TITLE}}</td>
                <td>{{course.SECT}}</td>
                <td>{{course.DAYS}} {{course.START}} - {{course.END}}</td>
                <td>{{course.CLASSROOM}}</td>
                <td>TBA</td>
            </tr>
        </table>
  </div>



</body>
