<div style="padding-left: 30px;">
<div class="mod-header" style="float:left;">
  <nav class="navbar">
    <a routerLink='./full-courselist'>List of Courses</a>
    <a routerLink='./schedule-conflicts'>Scheduling Conflicts</a>
    <a routerLink='./system-errors'>System Error Reports</a>
    <a routerLink='./faculty-issues'>Faculty Account Issues</a>
    <a routerLink='./'>Main Page</a>
</nav>
</div>
<br>
<br>
  <div class="pagetitle"><br><h3>Moderation View</h3><br></div>

  <router-outlet></router-outlet>

</div>
